.newbie {
  height: 100%;
  width: 100%;
  border-radius: 30px;

  &_item {
    padding: 50px;
    margin-bottom: 50px;
    background: #171A2F;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      height: 200px;
    }

    &_title {
      background: linear-gradient(87.57deg, #3F87F6 0%, #4CE9C1 94.44%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 28px;
    }

    &_text {
      color: #FFFFFF;
      margin-left: 50px;

      &_content {
        margin-top: 25px;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  &_wrapper {
    margin: 0 0 50px 360px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
}

@media (max-width: 1400px) {
  .newbie_wrapper {
    margin: 0 0 50px 48px;
  }
}