.admin-withdraw {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  color: #FAFCFD;

  &_title {
    font-weight: 700;
    font-size: 32px;
  }

  &_wrapper {
    width: 70%;
    margin: 50px 0 50px 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #171A2F;
    border-radius: 30px;
  }
}